<section id="welcome">
  <div class="section-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mb100">
          <h2 class="section-heading" ng-if="vm.person.name">Dear {{vm.person.name}}</h2>
          <hr class="thin-hr">
          <h3 class="section-subheading secondary-font" ng-if="vm.person.id !== 250">Please join us on our wedding day!</h3>
          <h3 class="section-subheading secondary-font" ng-if="vm.person.id === 250">Welcome to our wedding website!</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1 wow fadeIn">
          <img src="images/us-again.jpg" class="img-responsive mb30">
        </div>
        <div class="col-md-5 wow fadeIn">
          <p class="text-center">A romance that started with a Facebook friend request in 2008 - and after nine years, 25 flights, and living together for 835+ days, Natalie finally decided to accept the request.</p>
          <p class="text-center">On 29th December 2016, we got engaged in beautiful Colombia and now we're beyond excited to tie the knot and celebrate our life together with all our nearest and dearest. <span ng-if="vm.person.id !== 250">We'd be absolutely over the moon to have you join us in the celebrations.</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  setTimeout(function() {
    $('.parallax').parallax({
      positionY: '-50px'
    });
  }, 2000);
</script>
<section class="light-wrapper light-opaqued parallax" data-parallax="scroll" data-image-src="images/pattern.jpg" data-speed="0.4">
  <div class="section-inner">
    <div class="wow fadeIn">
      <div class="container text-center the-date">
        <div class="row">
          <div class="col-xs-12">
            <p class="lead a-quote secondary-font mb0" ng-if="vm.person.id !== 250">We hope to see you on our special day!</p>
            <p class="lead a-quote secondary-font mb0" ng-if="vm.person.id === 250">Excited is an understatement!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="wedding-date" class="light-wrapper">
  <div class="section-inner">
    <div class="wow fadeIn">
      <div class="container text-center">
        <div class="row">
          <div class="col-xs-12" role="tabpanel">
            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <ul class="nav nav-justified icon-tabs" id="nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#when" role="tab" data-toggle="tab">
                      <span class="tabtitle heading-font">Date</span>
                    </a>
                  </li>
                  <li role="presentation" ng-if="vm.person.id !== 250">
                    <a href="#where" role="tab" data-toggle="tab">
                      <span class="tabtitle heading-font">Location</span>
                    </a>
                  </li>
                  <li role="presentation" ng-if="vm.person.id !== 250">
                    <a href="#gifts" role="tab" data-toggle="tab">
                      <span class="tabtitle heading-font">Gifts</span>
                    </a>
                  </li>
                  <li role="presentation" ng-if="vm.person.id !== 250">
                    <a href="#stay" role="tab" data-toggle="tab">
                      <span class="tabtitle heading-font">Hotels</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-12 mt60">
                <div class="tab-content" id="tabs-collapse">
                  <div role="tabpanel" class="tab-pane fade in active" id="when">
                    <div class="tab-inner" style="padding-bottom: 0;">
                      <p class="lead secondary-font" style="margin-bottom: 0;" ng-if="vm.person.eveningGuest === true && vm.person.id !== 250">Friday 16th February 2018<br />at 7:30pm</p>
                      <p class="lead secondary-font" style="margin-bottom: 0;" ng-if="vm.person.eveningGuest === false && vm.person.id !== 250">Friday 16th February 2018<br />at 2 o'clock</p>
                      <p class="lead secondary-font" style="margin-bottom: 0;" ng-if="vm.person.id === 250">Friday 16th February 2018</p>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="where" ng-if="vm.person.id !== 250">
                    <div class="tab-inner">
                      <div class="row">
                        <div class="col-sm-5 col-sm-offset-1 text-left">
                          <p class="lead">Hedsor House</p>
                          <p>Hedsor Park</p>
                          <p>Taplow</p>
                          <p>Buckinghamshire</p>
                          <p>SL6 0HX</p>
                        </div>
                        <div class="col-sm-5">
                          <div id="mapwrapper">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2480.145781406951!2d-0.6935206844697872!3d51.56556097964468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487663a34cd237c1%3A0xdade077d4ce23a90!2sHedsor+House!5e0!3m2!1sen!2suk!4v1500890159885"
                              width="450" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="gifts" ng-if="vm.person.id !== 250">
                    <div class="tab-inner">
                      <div class="row">
                        <div class="col-sm-8 col-sm-offset-1 text-left">
                          <p class="lead">Gifts</p>
                          <p>As most of you know, we moved into our little flat together in 2015 and have since built our home with everything we need. Please don't feel obliged to give us a gift as it means more to us that you can join us on our special day, however, if you would like to, then a contribution towards our honeymoon would be greatly appreciated.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="stay" ng-if="vm.person.id !== 250">
                    <div class="tab-inner">
                      <div class="row">
                        <div class="col-sm-5 col-sm-offset-1 text-left">
                          <p class="lead">Where to stay?</p>
                          <ul>
                            <li>Chequers Inn - High Wycombe (2 miles)</li>
                            <li>Premier Inn - High Wycombe (5.1 miles)</li>
                            <li>Travelodge - Maidenhead (5.2 miles)</li>
                          </ul>
                          <p><a target="_blank" href="https://www.docdroid.net/9muc3ba/hotels-near-hedsor.pdf">Click here for a full list of nearby hotels.</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="our-people" class="light-wrapper">
  <div class="section-inner">
    <div class="wow fadeIn">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="section-heading">Meet the Groomsmen<h2>
          </div>
        </div>
        <div class="row" style="margin-bottom: 40px;">
          <div class="col-sm-5ths">
            <img src="images/people/adam_first.jpg" alt="Adam Roylance" class="img-responsive grayscale">
            <h3 class="section-subheading secondary-font">Adam Roylance</h3>
          </div>
          <div class="col-sm-5ths">
            <img src="images/people/jenson_first.jpg" alt="Jenson Tagg" class="img-responsive grayscale">
            <h3 class="section-subheading secondary-font">Jenson Tagg</h3>
          </div>
          <div class="col-sm-5ths">
            <img src="images/people/toby_first.jpg" alt="Toby Barr" class="img-responsive grayscale">
            <h3 class="section-subheading secondary-font">Toby Barr</h3>
          </div>
          <div class="col-sm-5ths">
            <img src="images/people/reece_first.jpg" alt="Reece Tocker" class="img-responsive grayscale">
            <h3 class="section-subheading secondary-font">Reece Tocker</h3>
          </div>
          <div class="col-sm-5ths">
            <img src="images/people/dan_first.jpg" alt="Dan Hennessy" class="img-responsive grayscale">
            <h3 class="section-subheading secondary-font">Dan Hennessy</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h2 class="section-heading">Meet the Bridesmaids<h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <img src="images/people/freya_first.jpg" alt="Freya Brook" class="img-responsive grayscale">
            <h3 class="section-subheading secondary-font">Freya Brook</h3>
          </div>
          <div class="col-sm-3">
            <img src="images/people/jaely_first.jpg" alt="Jaely Collier" class="img-responsive grayscale">
            <h3 class="section-subheading secondary-font">Jaely Collier</h3>
          </div>
          <div class="col-sm-3">
            <img src="images/people/sarah_first.jpg" alt="Sarah McDowall" class="img-responsive grayscale">
            <h3 class="section-subheading secondary-font">Sarah McDowall</h3>
          </div>
          <div class="col-sm-3">
            <img src="images/people/ale_first.jpg" alt="Alejandra Paixão" class="img-responsive grayscale">
            <h3 class="section-subheading secondary-font">Alejandra Paixão</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="rsvp" class="white-wrapper" ng-if="vm.person.id !== 250">
  <div class="section-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div ng-hide="vm.person.formCompleted">
            <div ng-if="vm.person.eveningGuest === true">
              <h4 class="footer-goodbye">Will we be seeing you at our wedding reception?</h4>
            </div>
            <div ng-if="vm.person.eveningGuest === false">
              <h4 class="footer-goodbye">Will we be seeing you on our wedding day?</h4>
            </div>

            <hr class="thin-hr" />
            <button class="btn btn-primary mt30" ng-click="vm.attendingForm(true)">Yes</button>
            <button class="btn btn-primary mt30" ng-click="vm.attendingForm(false)">No</button>
          </div>
          <div ng-show="vm.person.formCompleted">
            <h2 class="section-heading">Thank you for the RSVP!</h2>
            <hr class="thin-hr" />
            <div ng-if="vm.person.attending">
              <h3 class="section-subheading secondary-font">We're excited that you can make it!</h3>
              <br /><br />
              <img src="images/rsvp.jpg" alt="Excited!" style="width: 300px;" />
              <br /><br />
              <h3 class="section-subheading" style="font-size: 26px;">#ItTakesTwoToTaylor</h3>
            </div>
            <div ng-if="vm.person.attending === false">
              <h3 class="section-subheading secondary-font">We're sorry that you're not able to make it.</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 animated" id="contact" ng-if="vm.attending">
          <div id="message"></div>
          <form method="post" class="main-contact-form wow" ng-if="vm.person.formCompleted === false" ng-hide="vm.closeForm === true">

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" ng-value="vm.person.name" value="{{ vm.person.name }}" ng-model="vm.post.name" />
            </div>

            <div class="form-group has-error" ng-show="vm.validationMsg.menu">
              <label class="control-label">Please select a menu choice</label>
            </div>

            <div class="form-group" ng-hide="!vm.check" style="float: left;" ng-if="vm.person.collective && vm.attending" ng-repeat="per in vm.person.selective track by $index">
              <label for="name">Meal preferences for {{ per.name }}</label>
              <div class="funkyradio">
                <div class="funkyradio-default">
                  <input type="radio" name="{{per.name}}-menu" id="{{per.name}}-menu-pork" value="{{per.name}} - Pork" ng-model="vm.post.menu[$index]" ng-click="vm.validationMsg.menu = false;" />
                  <label for="{{per.name}}-menu-pork">Pork</label>
                </div>
                <div class="funkyradio-default">
                  <input type="radio" name="{{per.name}}-menu" id="{{per.name}}-menu-vegetarian" value="{{per.name}} - Vegetarian" ng-model="vm.post.menu[$index]" ng-click="vm.validationMsg.menu = false;" />
                  <label for="{{per.name}}-menu-vegetarian">Vegetarian</label>
                </div>
              </div>
            </div>

            <div class="form-group" ng-hide="!vm.check" style="float: left;" ng-if="!vm.person.collective && vm.attending">
              <label for="name">Meal preference</label>
              <div class="funkyradio">
                <div class="funkyradio-default">
                  <input type="radio" name="{{vm.person.name}}-menu" id="{{vm.person.name}}-menu-pork" value="{{vm.person.name}} - Pork" ng-model="vm.post.menu" ng-click="vm.validationMsg.menu = false;" />
                  <label for="{{vm.person.name}}-menu-pork">Pork</label>
                </div>
                <div class="funkyradio-default">
                  <input type="radio" name="{{vm.person.name}}-menu" id="{{vm.person.name}}-menu-vegetarian" value="{{vm.person.name}} - Vegetarian" ng-model="vm.post.menu" ng-click="vm.validationMsg.menu = false;" />
                  <label for="{{vm.person.name}}-menu-vegetarian">Vegetarian</label>
                </div>
              </div>
            </div>

            <div class="form-group" style="float: left; clear: both; width: 100%;" ng-if="vm.attending">
              <label for="">Dietary requirements</label>
              <input type="text" class="form-control" name="diet" placeholder="Dietary requirements" id="diet" ng-model="vm.post.diet" value="{{ vm.post.diet }}" />
            </div>

            <div class="form-group" style="clear: both;">
              <label for="comments">Leave us a message</label>
              <textarea ng-if="vm.attending || vm.attending === false" name="comments" class="form-control wow fadeIn" id="comments" placeholder="Your Message" ng-model="vm.post.message"></textarea>
            </div>

            <div class="form-group mt30">
              <input ng-if="vm.attending || vm.attending === false" class="btn btn-primary" type="submit" name="submit" value="Submit" ng-click="vm.formAuth(vm.post)" />
              <img src="images/spinner.gif" width="80" ng-if="vm.formLoading">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="light-wrapper">
  <div class="col-md-12 text-center wow fadeIn">
    <span class="copyright">Copyright &copy; 2017. Designed &amp; developed by Carl Taylor</span>
  </div>
</footer>
