.carousel {
  height: 767px;
  overflow: hidden;
  .carousel-indicators {
    display: none;
  }
  .carousel-inner {
    .item {
      top: 0px;
      img {
        width: 100%;
      }
    }
    @media (min-width: 768px) {
      .item {
        top: -200px;
      }
    }
  }
}
